install
venv
CLAUDE.md
hyprdynamicmonitors
main
# Added by goreleaser init:
dist/
node_modules/
bin/
result
debug.log

# cover related
coverage.txt
unit.txt
integration.txt
.coverdata
coverage.html
coverage.xml

hypr-vm.*
