# Generated with hyprdynamicmonitors freeze.
# This is a template that you can edit, it is just a starter that pulled your current monitor setup,
# adjust as needed.
# You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
# Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
# If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
# and leave the markers.
# <<<<< TUI AUTO START
{{- range .Monitors }}
{{- if .Disabled }}
monitor=desc:{{ .Description }},disable
{{- else }}
{{- if and .Mirror (ne .Mirror "none") }}
monitor=desc:{{ .Description }},{{ .Width }}x{{ .Height }}@{{ printf "%.5f" .RefreshRate }},{{ .X }}x{{ .Y }},{{ printf "%.2f" .Scale }},transform,{{ .Transform }},vrr,{{ if .Vrr }}1{{ else }}0{{ end }},mirror,{{ .Mirror }}
{{- else }}
monitor=desc:{{ .Description }},{{ .Width }}x{{ .Height }}@{{ printf "%.5f" .RefreshRate }},{{ .X }}x{{ .Y }},{{ printf "%.2f" .Scale }},transform,{{ .Transform }},vrr,{{ if .Vrr }}1{{ else }}0{{ end }}
{{- end }}
{{- end }}
{{- end }}
# <<<<< TUI AUTO END
