# <<<<< TUI AUTO START
{{- range .Monitors }}
{{- if .Disabled }}
monitor=desc:{{ .Description }},disable
{{- else }}
{{- if and .Mirror (ne .Mirror "none") }}
monitor=desc:{{ .Description }},{{ .Width }}x{{ .Height }}@{{ printf "%.5f" .RefreshRate }},{{ .X }}x{{ .Y }},{{ printf "%.2f" .Scale }},transform,{{ .Transform }},mirror,{{ .Mirror }}
{{- else }}
monitor=desc:{{ .Description }},{{ .Width }}x{{ .Height }}@{{ printf "%.5f" .RefreshRate }},{{ .X }}x{{ .Y }},{{ printf "%.2f" .Scale }},transform,{{ .Transform }}
{{- end }}
{{- end }}
{{- end }}
# <<<<< TUI AUTO END
