monitor={{.MonitorsByTag.LaptopScreen.Name}},2880x1920@120.00000,0x0,2.0,vrr,1
monitor=desc:{{.MonitorsByTag.ExternalScreen.Description}},2560x2880@59.96700,auto-left,1.6,transform,3

workspace = 2,monitor:{{.MonitorsByTag.ExternalScreen.Name}}
workspace = 3,monitor:{{.MonitorsByTag.ExternalScreen.Name}}
workspace = 4,monitor:{{.MonitorsByTag.ExternalScreen.Name}}
workspace = 5,monitor:{{.MonitorsByTag.ExternalScreen.Name}}
