# imagine a typo in the function name
{{ if isOnWhatever }}
# disable animations, reduce refresh rate, enable vrr
monitor={{ $laptop.Name }},2880x1920@60.00000,0x0,2.0,vrr,1
animations {
  enabled = false
}
{{- end}}
